#container
{
    width: 1000px;
    border: 1px solid #000000;
    margin: 0 auto;
    text-align: left;
}
#top
{
    border: 1px solid #000000;
    text-align: center;
    height: 150px;
}
#nav
{
    width: 150px;
    border: 1px solid #000000;
    margin-top: 10px;
    float: left;
    
}
#content
{
    border: 1px solid #000000;
    margin-left: 155px;
    /*margin-top: -115px;*/
    
}
#footer
{
    border: 1px solid #000000;
    text-align: center;
}