/*
    FÄRGER.
    top/foot: FFE373
    body: FAEDDF
    content: FDEBA3
    navLI: 7FE394
    
*/
/* ///CONTAINER/// */
#container
{
    max-width: 1000px;
    margin: 0 auto;
}
/* ///TOP/// */
#top
{
    background-image: url('pics/logga.png');
    background-repeat: no-repeat;
    background-position: center top;
    height: 150px;
    background-color: #FFE373;
}
/* ///NAV/// */
#nav
{
    width: 150px;
    margin-top: 10px;
    float: left;
}
#nav ul
{
    margin-left: -38px;
}
#nav li
{
    list-style-type: none;
    margin: 3px;
    background-color: #7FE394;
}
#nav a
{
    display: block;
}
#nav .active a
{
    background-color: #DDF89B;
}
#nav a:hover
{
    background-color: #C9D687;
}

#nav a:link 
{
    color:#FFFFFF;
    text-decoration:none;
    font-size: 17px;
}

#nav a:visited 
{
    color:#000000;
    text-decoration:none;
}
/* ///CONTENT/// */
#content
{
    margin-left: 155px;
    background-color: #FDEBA3;
    position: relative;
}
#content h3, #content h2 
{
    border-bottom: 1px solid black;
    margin: 3px;
}
#content h3:before
{
    content: url('pics/flower.png');
    background-repeat: no-repeat;
}
#content p
{
    font-family: "Arial";
    font-size: 12px;
}
#content .blog
{
    font-family: "Times New Romans";
    font-style: italic;
    text-align: right;
}
#content table
{
    margin: 3px;
}
.right
{
    float: right;
    margin: 3px;
}
/* ///FOOTER//// */
#footer
{
    text-align: center;
    background-color: #FFE373;
}
#title
{
    margin: 6px;
}
/* ///BODY/// */
body
{
    background-color: #FAEDDF;
}
/* ///A/// */
a:visited
{
    color: blue;
}
/* ///VIDEO/// */
video
{
    margin: 3px;
}
